@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
.quiz-container {
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.info-card {
	background-color: rgba(255, 255, 255, 0.877);
	border-radius: 20px;
	height: 60vh;
	width: 60vw;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/* justify-content: center; */
	overflow-y: auto;
}
.info-disease-container {
	display: flex;
	flex-direction: row;
	margin: 8px 0px;
}
.quiz-character-container {
	height: 15vmin;
	width: 15vmin;
	padding: 12px;
	margin-left: 20px;
	background-color: #113782;
	border-radius: 50%;
}
.info-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 2.25rem;
	text-align: center;
}
.info-content {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 8px 24px;
	margin: 0px;
	text-align: justify;
}
.quiz-nav-button {
	margin: 0px 10px;
	height: 10vmin;
	width: 10vmin;
	line-height: 10vmin;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		340deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(16, 75, 109, 1) 57%,
		rgba(45, 153, 170, 1) 100%
	);
}
